BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:3000" # Your APP URL
CORS_ORIGIN="http://localhost:3000" # Your APP URL
DATABASE_URL=postgresql://postgres:password@localhost:5432/next-db?schema=public
NEXT_PUBLIC_URL="http://localhost:3000"
ADMIN_EMAIL="super@admin.com"
ADMIN_PASSWORD="1234"
